@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container, .chat-container {
    text-align: center;
    background: #212121;
    border-radius: 8px;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
}

.chat-container {
    background-color: #171717;
    box-shadow: none;
}

.mainh1 {
    margin-bottom: 20px;
    color: #e0e0e0;
    padding-bottom: 20px;
    border-bottom: #444 3px solid;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #212121;
    color: #e0e0e0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.home-icon {
    margin-right: auto;
}

.members-icon {
    margin-left: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.button {
    height: 50px;
    width: 250px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s ease, box-shadow 0.3s ease;
}

input {
    height: 50px;
    width: 250px;
    padding: 15px 0px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #272727;
    border: none;
    outline: 1px solid #171717;
    border-radius: 5px;
    caret-color: transparent;
}

.users-container {
    position: fixed;
    right: 20px;
    top: 100px;
    background-color: #212121;
    padding: 20px;
    border-radius: 8px;
    color: #e0e0e0;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.users-container h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #dcdcdc;
    text-align: center;
}

.users-list {
    list-style: none;
}

.users-list li {
    font-family: monospace;
    font-size: 12px;
    padding: 5px 0;
}

.message-container {
    margin: 50px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 800px;
}

.message {
    display: flex;
    align-items: flex-start;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.timestamp {
    font-family: 'Lucida Sans', sans-serif;
    color: gray;
    font-size: 10px;
    font-weight: 700;
}

.username {
    color: #00ff37;
    margin: 0px 20px;
    font-weight: 700;
    font-size: 16px;
}

.text {
    white-space: pre-wrap;
    text-align: left;
    font-size: 16px;
}

.send-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    max-width: 80vw;
    background-color: #212121;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-input {
    font-size: 16px;
    color: #e0e0e0;
    padding: 0px 10px;
    height: 50px;
    text-align: left;
    font-weight: 400;
    caret-color: auto;
    width: 700px;
    max-width: 80vw;
    border-radius: 20px 0 0 20px;
    transition: box-shadow 0.2s ease-in;
}

.send-button {
    font-size: 24px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 0 20px 20px 0;
    background-color: #007bff;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.send-button:hover {
    background-color: #218838;
    box-shadow: 0px 0px 10px #175f26;
}

.create-room, .join-room {
    background-color: #171717;
}

.create-room:hover, .join-room:hover {
    background-color: #dcdcdc;
    color: #0e0e0e;
    box-shadow: 0px 0px 10px #fff;
}

@media (max-width: 800px) {
    h1 {
        font-size: 20px;
    }

    .button {
        font-size: 12px;
        padding: 20px;
    }

    input {
        font-size: 24px;
    }

    .message-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .users-container h3 {
        font-size: 12px;
    }

    .users-container li {
        font-size: 10px;
    }

    .send-container {
        width: 100vw;
        max-width: 100vw;
        border-radius: 0;
        padding: 15px 20px;
    }

    .msg-input {
        font-size: 10px;
        height: 40px;
    }

    .send-button {
        font-size: 12px;
        padding: 0px 15px;
        height: 40px;
    }

    .timestamp {
        font-size: 8px;
    }

    .username {
        margin: 0 10px;
        font-size: 12px;
    }

    .text {
        font-size: 12px;
    }
}