* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(36,41,46); 
    color: #dcdcdc; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgb(43,49,55); 
    border-radius: 8px;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    width: 800px;
    margin: auto;
}

.mainh1 {
    margin-bottom: 20px;
    color: #e0e0e0; 
    padding-bottom: 20px;
    border-bottom: #444 3px solid; 
}

.roomh1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(43,49,55);
    color: #e0e0e0;
    padding: 20px 0;
    padding-bottom: 20px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

.button {
    height: 50px;
    width: 250px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0; 
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.3s ease;
}

input {
    height: 50px;
    width: 250px;
    padding: 15px 0px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff; 
    background-color: #3b4044; 
    border: none;
    outline: none;
    border-radius: 5px;
    caret-color: transparent;
}

.message-container {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    max-width: 800px;
}

.message {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.timestamp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 10px;
    font-weight: 700;
}

.username {
    color: #00ff37;
    margin: 0px  20px;
    font-weight: 700;
    font-size: 16px;
}

.text {
    white-space: pre-wrap;
    text-align: left;
    font-size: 16px;
}


.send-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: rgb(43,49,55);
    padding: 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-input {
    font-size: 16px;
    padding: 0px 10px;
    height: 40px;
    text-align: left;
    font-weight: 400;
    caret-color: auto;
    width: 700px;
    max-width: 80vw;
    border-radius: 0px; 
    margin-right: 0px;
    transition: box-shadow 0.2s ease-in;
}

.msg-input:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.send-button {
    font-size: 24px;
    height: 40px; 
    line-height: 40px;
    padding: 0 15px; 
    border-radius: 0px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.send-button:hover {
    background-color: #218838;
    box-shadow: 0px 0px 10px #175f26; 
}


.create-room {
    background-color: rgb(33,38,45);
}

.create-room:hover {
    background-color: #218838;
    box-shadow: 0px 0px 10px #218838; 
}

.join-room {
    background-color: rgb(33,38,45); 
}

.join-room:hover {
    background-color: #0056b3; 
    box-shadow: 0px 0px 10px #0056b3; 
}

@media (max-width: 800px) {
    h1 {
        font-size: 20px;
    }

    .button {
        font-size: 12px;
        padding: 20px 20px;
    }

    input {
        font-size: 24px;
    }

    .message-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .msg-input {
        font-size: 10px;
    }

    .send-button {
        font-size: 12px;
        padding: 10px 10px;
    }

    .timestamp {
        font-size: 8px;
    }

    .username {
        font-size: 12px;
    }

    .text {
        font-size: 12px;
    }
}