<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Hub</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Chat Hub</h1>
        <div class="button-container">
            <div class="button create-room" id="createnew" onclick="window.location.href='/create_room'">Create Room</div>
            <div class="button join-room" id="joinexisting" onclick="showField()">Join Existing Room</div>
            <input style="display:none;" id="roomID" placeholder="Room ID">
            <div style="display:none;" class="button join-room" id="join" onclick="window.location.href='/join_room'">Join</div>
        </div>
    </div>

    <script>
        function showField() {
            ele00 = document.getElementById("createnew");
            ele01 = document.getElementById("joinexisting");
            ele1 = document.getElementById("roomID");
            ele2 = document.getElementById("join");
            ele00.style.display = "none";
            ele01.style.display = "none";
            ele1.style.display = "inline-block";
            ele2.style.display = "inline-block";
        }
    </script>
</body>
</html>
