<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Hub</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="mainh1">Welcome to the Chat Hub</h1>
        <div class="button-container">
            <div class="button create-room" id="createnew" onclick="window.location.href='/create_room'">Create New Room</div>
            <div class="button join-room" id="joinexisting" onclick="showField()">Join Existing Room</div>
            <input type="text" style="display:none;" id="roomID" oninput="editRoomID()" placeholder="ROOM #ID" autocomplete="off">
            <div style="display:none;" class="button join-room" id="join" onclick="redirectRoom()">Join</div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
