<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Hub</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="mainh1">Entered Room ID does not exist</h1>
        <div class="button create-room" id="createnew" onclick="window.location.href='/'">Home</div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
